openapi: 3.0.0
info:
  title: Sapientor API
  version: 1.0.0
servers:
  - url: https://sapientor.net
paths:
  /api/gpt/authorise:
    get:
      operationId: authorise
      summary: Authorise user and retrieves user information based on a provided token.
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
          description: User authentication token.
      responses:
        '200':
          description: Successfully retrieved user information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User ID.
                  email:
                    type: string
                    format: email
                    description: User email.
        '400':
          description: Missing or invalid token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/gpt/knowledge/{user_id}:
    get:
      operationId: getKnowledgeSummaries
      summary: Retrieves knowledge summaries for a specified user.
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: User identifier,
      responses:
        '200':
          description: Successfully retrieved summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    content:
                      type: string
                      description: The content of the summary.
                    url:
                      type: string
                      format: uri
                      description: The URL associated with the summary.
                    title:
                      type: string
                      description: The title of the summary.
        '400':
          description: Missing user_id in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Database error or retrieval failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/gpt/summary:
    post:
      operationId: saveSummary
      summary: Saves a summary & link.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: URL of the content.
                title:
                  type: string
                  description: Title of the content.
                description:
                  type: string
                  description: Description of the content.
                content:
                  type: string
                  description: The actual content to be saved.
                user_id:
                  type: string
                  description: User identifier.
              required:
                - url
                - title
                - description
                - content
                - user_id
      responses:
        '200':
          description: Successfully saved the link and content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  link:
                    type: object
                    description: Details of the saved link.
                  storedIds:
                    type: array
                    items:
                      type: string
                    description: Array of stored document IDs.
        '400':
          description: Bad request - missing fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message.
